@{
    var categories = (CategoryListView)ViewBag.Categories;
}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Car Store - @ViewBag.Title</title>
    <meta name="description" content="Default Description">
    <meta name="keywords" content="Magento, Varien, E-commerce">
    <meta name="robots" content="INDEX,FOLLOW">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon">
    <link media="all" href="@Url.Content("~/Content/magento/skin.css")" type="text/css" rel="stylesheet">

    <!--[if lt IE 7]>
        <script type="text/javascript">
            //<![CDATA[
            var BLANK_URL = 'http://www.plazathemes.com/demo/ma_carstore_res/js/blank.html';
            var BLANK_IMG = 'http://www.plazathemes.com/demo/ma_carstore_res/js/spacer.gif';
            //]]>
        </script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/bootstrap-2.3.2.css")" media="all">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/bootstrap-responsive-2.3.2.css")" media="all">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/bootstrap-panel.css")" media="all">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/widgets.css")" media="all">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/jquery.fancybox.css")" media="all">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/ajax_cart_super.css")" media="all">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/jquery-ui.css")" media="all">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/ma.verticalmenu.css")" media="all">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/ma.banner7.css")" media="all">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/ma.featuredslider.css")" media="all">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/toastr-2.0.1.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/font-awesome-4.2.0.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/print.css")" media="print">

    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/jquery-1.11.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/prototype.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/ccard.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/validation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/builder.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/effects.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/dragdrop.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/controls.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/slider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/js.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/form.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/menu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/translate.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/cookies.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/ma.jq.slide.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/ma.mobilemenu.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/ajax_cart_super.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/jquery.fancybox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/jquery-ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/ma.dropdown.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/ma.accordion.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/ma.flexslider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/ma.nivo.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/calendar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/toastr.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/knockout-3.2.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/accounting.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/magento/bootstrap-tooltip.js")"></script>

    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/styles-ie8.css")" media="all" />
    <![endif]-->
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/styles-ie.css")" media="all" />
    <![endif]-->
    <!--[if lt IE 7]>
        <script type="text/javascript" src="@Url.Content("~/Scripts/magento/ds-sleight.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/magento/ie6.js")"></script>
    <![endif]-->

    <script type="text/javascript">
        var Translator = new Translate([]);
    </script>
    <!-- theme color -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/styles_black_red.css")" media="screen">
    <!-- MENU -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/magento/fish_menu.css")" media="screen">
</head>
<body class=" cms-index-index cms-home" data-feedly-mini="yes">
    <div class="ma-wrapper">
        <noscript>
            &lt;div class="global-site-notice noscript"&gt;
            &lt;div class="notice-inner"&gt;
            &lt;p&gt;
            &lt;strong&gt;JavaScript seems to be disabled in your browser.&lt;/strong&gt;&lt;br /&gt;
            You must have JavaScript enabled in your browser to utilize the functionality of this website.                &lt;/p&gt;
            &lt;/div&gt;
            &lt;/div&gt;
        </noscript>
        <div class="ma-page">
            <div class="container">
                <div class="container-inner">
                    <div class="ma-header-container">
                        <div class="header">
                            <div class="row-fluid">
                                <div class="span4">
                                    <h1 class="logo">
                                        <strong>Our Car Store</strong>
                                        <a href="@Url.Home()" title="Our Car Store" class="logo">
                                            <img src="@Url.Content("~/Content/magento/images/logo.png")" alt="Our Car Store">
                                        </a>
                                    </h1>
                                </div>

                            </div>
                        </div>


                        <div class="ma-main-container col1-layout">
                            <div class="main">
                                <div class="col-main">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
