@model FindProvidersModel

<div class="product-filters">
    <div class="control-group">
        @Html.BootstrapLabelFor(m => m.Keyword)
        <div class="controls">
            @Html.TextBoxFor(m => m.Keyword)
        </div>
    </div>

    <div class="control-group">
        <label for="ProviderServiceType">Service Type</label>
        <div class="controls">
            <select id="ProviderServiceType" class="control"
                    data-search-filter="ProviderServiceType"
                    data-select-filter="@Model.ProviderServiceType"
                    data-url="@Url.Action("GetProviderServiceTypes", "Providers")">
                >
            </select>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="SortBy">Sort By</label>
        <div class="controls">
            <select id="SortBy" name="SortBy">
                <option value="NewestFirst">Newest First</option>
                <option value="OldestFirst">Oldest First</option>
                <option value="BestRatingFirst">Best Rated First</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label for="Suburb">Suburb</label>
        <div class="controls">
            <select id="Suburb" class="control"
                    data-search-filter="ProviderSuburb"
                    data-select-filter="@Model.ProviderSuburb"
                    data-url="@Url.Action("GetAllProviderSuburbs", "Providers")">
                <option value="">-- Any --</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label>State</label>
        <div class="controls">
            <select id="State" class="control"
                    data-search-filter="ProviderState"
                    data-select-filter="@Model.ProviderState"
                    data-url="@Url.Action("GetAllProviderStates", "Providers")">
                <option value="">-- Any --</option>
            </select>
        </div>
    </div>

    <div class="control-group">
        <label for="Make">Make</label>
        <div class="controls">
            <select id="Make" class="control"
                    data-search-filter="Make"
                    data-select-filter="@Model.Make"
                    data-url="@Url.Action("GetMakesOptions", "CarPart")"></select>
        </div>
    </div>

    <div class="control-group">
        <button class="btn" data-apply-provider-filters data-loading-text="Please wait...">Apply</button>
    </div>
</div>