@model FindProvidersModel


@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

@*Search Type Links*@
<div class="row-fluid">
    <div class="span12">
        <div class="search-type-results">
            <div class="item"><a data-search-products>Products</a></div>
            <div class="item"><a data-search-provider>Wreckers</a></div>
            <div class="item"><a data-search-provider>Repairers</a></div>
            <div class="item"><a data-search-provider>Auxiliaries</a></div>
        </div>
    </div>
</div>


<div class="ma-main-container col3-layout">
    <div class="main">
        <div class="row-fluid">

            @*Filters*@
            <div class="col-left sidebar span3">
                <div class="block block-layered-nav">
                    <div class="block-title"><strong><span>Filter Results</span></strong></div>
                    <div class="product-filters">
                        <div class="control-group">
                            @Html.BootstrapLabelFor(m => m.Keyword)
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Keyword)
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label for="ProviderServiceType">Service Type</label>
                            <div class="controls">
                                <select id="ProviderServiceType" class="control"
                                        data-search-filter="ProviderServiceType"
                                        data-select-filter="@Model.ProviderServiceType"
                                        data-url="@Url.Action("GetProviderServiceTypes", "Providers")">
                                    >
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="SortBy">Sort By</label>
                            <div class="controls">
                                <select data-val="true" data-val-required="The Sort By field is required." id="SortBy" name="SortBy">
                                    <option selected="selected" value="NewestFirst">Newest First</option>
                                    <option value="OldestFirst">Oldest First</option>
                                </select>
                            </div>
                        </div>
                        
                       

                        <div class="control-group">
                            <button class="btn" data-apply-provider-filters data-loading-text="Please wait...">Apply</button>
                        </div>
                    </div>
                </div>
            </div>

            @*Search Results*@
               @if (Model.HasResults)
               {
                <div class="col-wrapper span9">
                    <div class="row-fluid">
                        <div class="col-main span12">
                            @Html.Partial("~/Views/Shared/Partial/_SearchPagingToolbar.cshtml")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-main span12">
                            <ul>
                                @foreach (var p in Model.ProviderSummaryViews)
                                {
                                    <li>@p.ProviderName</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row-fluid top-buffer-10">
                        <div class="col-main span12">
                            @Html.Partial("~/Views/Shared/Partial/_SearchPagingToolbar.cshtml")
                        </div>
                    </div>
                </div>
               }
               else
               {
                <div class="col-wrapper span9">
                    <div class="alert">
                        Sorry. It looks like we don't have any @Model.ProviderType.ToString() that match your search.
                    </div>
                </div>
               }

        </div>
    </div>
</div>
