@model CheckoutView

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h2>Checkout</h2>
            </div>
            <form action="" method="POST">
                @Html.AntiForgeryToken()
                <div class="row-fluid">
                    <div class="span8">
                        <div class="bordered-form">
                            <h3><i class="fa fa-shopping-cart"></i> &nbsp;Order Summary</h3>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Totals</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderSummary.CartItems)
                                    {
                                        <tr>
                                            <td>@item.Title</td>
                                            <td>@item.PriceWithoutTax.ToString("C")</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.ItemSubTotal.ToString("C")</td>
                                        </tr>
                                    }
                                    
                                    @*Sub Total*@
                                    <tr>
                                        <td colspan="3" style="text-align:right;"> <strong>Sub Total</strong></td>
                                        <td>@Model.OrderSummary.ItemTotal.ToString("C")</td>
                                    </tr>

                                    @*Tax*@
                                    <tr>
                                        <td colspan="3" style="text-align:right;"> <strong>Tax</strong> : @Model.OrderSummary.Tax.TaxType</td>
                                        <td>@Model.OrderSummary.Tax.TaxAmount.ToString("C")</td>
                                    </tr>

                                    @*Postage*@
                                    <tr>
                                        <td colspan="3" style="text-align:right;"> <strong>Post</strong>: @Model.OrderSummary.ShippingCost.ShippingType</td>
                                        <td>@Model.OrderSummary.ShippingCost.Cost.ToString("C")</td>
                                    </tr>
                                    
                                    @*Total*@
                                    <tr class="info">
                                        <td colspan="3" style="text-align:right;"><strong>Grand Total</strong></td>
                                        <td><strong>@Model.OrderSummary.GrandTotal.ToString("C")</strong></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="bordered-form">
                            <h3><i class="fa fa-paypal"></i> &nbsp;Payment & Billing Details</h3>

                            @Html.Partial("~/Views/Shared/Partial/_PersonalDetailsEditor.cshtml", @Model.ShippingDetails)
                        </div>

                       
                        @*Pay Now (All users)*@
                        <div class="bordered-form">
                            <h3>Pay Now</h3>
                            <p>
                                By paying immediately using PayPal or Credit Card,
                                the order will be processed as soon as
                                possible and shipped directly.
                            </p>
                        </div>
                        <div class="footer-submit">
                            <button type="submit" class="btn pull-right" name="action:Checkout">
                                Proceed to Payment <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                        
                        @*Pay later option*@
                        @if (Request.IsAuthenticated)
                        {
                            <div class="bordered-form">
                                <h3>Place Order <i class="fa fa-arrow-right"></i> Pay Later</h3>
                                <p>
                                    Members only have an option to place the order only and pay later.
                                    One of our staff will be in touch with you shortly about the next step.
                                </p>
                            </div>
                            <div class="footer-submit">
                                <input type="submit" class="btn pull-right" name="action:CheckoutPayLater" value="Checkout & Pay Later" />
                                
                            </div>
                        }
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
