@model CheckoutView

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h2>Checkout</h2>
            </div>
            <form action="@Url.Action("Checkout", "Cart")" method="POST">
                @Html.AntiForgeryToken()
                <div class="row-fluid">
                    <div class="span4">
                        <div class="bordered-form">
                            <h3><i class="fa fa-home"></i> &nbsp;Delivery Details</h3>

                            @Html.Partial("~/Views/Shared/Partial/_PersonalDetailsEditor.cshtml", @Model.BillingDetails)

                        </div>
                    </div>
                    <div class="span4">
                        <div class="bordered-form">
                            <h3><i class="fa fa-shopping-cart"></i> &nbsp;Shopping Cart Items</h3>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrderSummary.CartItems)
                                    {
                                        <tr>
                                            <td>@item.Title</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Price.ToString("C")</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="2" class="text-right">@Model.OrderSummary.Tax.TaxType</td>
                                        <td>@Model.OrderSummary.Tax.TaxAmount.ToString("C")</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-right">@Model.OrderSummary.ShippingCost.ShippingType</td>
                                        <td>@Model.OrderSummary.ShippingCost.Cost.ToString("C")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="bordered-form">
                            <h3><i class="fa fa-paypal"></i> &nbsp;Payment & Billing Details</h3>

                            @Html.Partial("~/Views/Shared/Partial/_PersonalDetailsEditor.cshtml", @Model.ShippingDetails)
                        </div>

                        @if (Request.IsAuthenticated)
                        {
                            <div class="bordered-form">
                                <h3>Place Order <i class="fa fa-arrow-right"></i> Pay Later</h3>
                                <p>
                                    Members only have an option to place the order only and pay later.
                                    One of our staff will be in touch with you shortly about the next step.
                                </p>
                            </div>
                            <div class="footer-submit">
                                <button class="btn pull-right">
                                    Proceed with Order Only <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        }

                        <div class="bordered-form">
                            <h3>Pay Now</h3>
                            <p>
                                By paying immediately using PayPal or Credit Card,
                                the order will be processed as soon as
                                possible and shipped directly.
                            </p>
                        </div>
                        <div class="footer-submit">
                            <button class="btn pull-right">
                                Proceed to Payment <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
