@using System.Net.Mime
@model MyCartView

@{
    ViewBag.Title = "My Cart";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="page-title">
                <h1>Shopping Cart</h1>
            </div>

            <div class="cart">
                
                <div data-bind="if: items().length === 0">
                    <div class="alert">
                        Your shopping cart is empty. @Html.ActionLink("Continue Shopping", "Index", "Home")
                    </div>
                </div>

                <div data-bind="if: items().length > 0">

                    <fieldset>
                        @Html.Partial("~/Views/Shared/Partial/_CartEditor.cshtml")
                    </fieldset>


                    <div class="cart-collaterals row-fluid">
                        <div class="col-1 span4">
                            @*Placeholder for shipping estimate*@
                        </div>
                        <div class="col-1 span4">
                            <div class="bordered-form">
                                <h3><i class="fa fa-calculator"></i>&nbsp; Postage Estimate</h3>

                                <div class="control-group">
                                    <label for="country">Country</label>
                                    <div class="controls">
                                        <select id="country" class="control">
                                            @foreach (var country in Model.ShippingCountries)
                                            {
                                                <option value="@country.CountryCode">@country.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="control-group">
                                    <label for="country">Post Code</label>
                                    <div class="controls">
                                        <input class="control" type="text" id="postcode" />
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="controls">
                                        <button type="button" id="getShippingEstimate" class="btn" data-loading-text="Calculating...">Get Estimate</button>
                                    </div>
                                </div>
                                
                                <table class="table table-bordered table-hover no-display" id="estimates">
                                    <thead>
                                        <tr>
                                            <th>Type</th>
                                            <th>Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="totals span4">
                            <table id="shopping-cart-totals-table">
                                <colgroup>
                                    <col>
                                    <col width="1">
                                </colgroup>

                                <tbody>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            Subtotal
                                        </td>
                                        <td style="" class="a-right">
                                            <span class="price" data-bind="text: accounting.formatMoney(subTotal())"></span>
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td style="" class="a-right" colspan="1">
                                            <strong>Grand Total</strong>
                                        </td>
                                        <td style="" class="a-right">
                                            <strong><span class="price" data-bind="text: accounting.formatMoney(subTotal())"></span></strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <ul class="checkout-types">
                                <li>
                                    <a class="btn btn-large" href="@Url.Login()">
                                        Proceed to Checkout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>