@model ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Magento.cshtml";
}


<div class="ma-main-container col2-right-layout">
    <div class="main">
        <div class="row-fluid">
            <div class="col-main span12">
                <div class="page-title">
                    <h1>Create New Account</h1>
                </div>
                <div style="padding-left: 15px;">

                    <div class="row-fluid">

                        <div class="span6">

                            <div class="bordered-form">

                                @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <h3><i class="fa fa-user"></i>&nbsp; Confirm your email</h3>

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="alert alert-info">
                                        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                                        Please enter a user name for this site below and click the Register button to finish
                                        logging in.
                                    </div>
                                    
                                    <div class="control-group">
                                        @Html.BootstrapLabelFor(m => m.Email)
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.Email, new{@class="control"})
                                        </div>
                                    </div>

                                    <div class="footer-submit">
                                        <button type="submit" class="btn pull-right">Update</button>
                                    </div>
                                    
                                }
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

