@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Magento.cshtml";
}
<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="row-fluid">
            <div class="col-main span12">
                <div class="page-title">
                    <h1>Recover your password</h1>
                </div>

                <div style="padding:15px;">
                    <div class="row-fluid">

                        @*first col*@
                        <div class="span6">
                            <form action="@Url.ForgottenPassword()" method="post">
                                <div class="bordered-form">
                                    <h3><i class="fa fa-unlock-alt"></i>&nbsp; We will email you a link to reset the password.</h3>

                                    @Html.AntiForgeryToken()
                                    
                                    @if (Model.UserDoesNotExist)
                                    {
                                        <div class="alert alert-danger">The email specified does not exist.</div>
                                    }

                                    <ul class="form-list">
                                        <li>
                                            @Html.BootstrapLabelFor(m => m.Email)
                                            <div class="input-box controls">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "input-text", tabindex = "1" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </li>                                      
                                    </ul>
                                </div>
                                <div class="footer-submit">
                                    <button class="btn pull-right" title="Login" tabindex="3">Submit</button>
                                </div>
                            </form>
                        </div>                     
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>