@model LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Magento.cshtml";
}
<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="row-fluid">
            <div class="col-main span12">
                <div class="page-title">
                    <h1>Login or Create an Account</h1>
                </div>

                <div style="padding:15px;">
                    <div class="row-fluid">

                        @*first col*@
                        <div class="span6">
                            <form action="@Url.Login()" method="post" id="login-form">
                                <div class="bordered-form">
                                    <h3><i class="fa fa-user"></i>&nbsp; Existing Customers</h3>

                                    @Html.AntiForgeryToken()


                                    <h2>Registered Customers</h2>
                                    <p>If you have an account with us, please log in.</p>

                                    @if (Model.WrongUsernameOrPassword)
                                    {
                                        <div class="alert alert-danger">The username or password is not valid.</div>
                                    }

                                    <ul class="form-list">
                                        <li>
                                            @Html.BootstrapLabelFor(m => m.Email)
                                            <div class="input-box controls">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "input-text", tabindex = "1" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </li>
                                        <li>
                                            @Html.BootstrapLabelFor(m => m.Password)
                                            <div class="input-box controls">
                                                @Html.PasswordFor(m => m.Password, new { @class = "input-text", tabindex = "2" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-submit">
                                    <a href="@Url.ForgottenPassword()" class="pull-left">Forgot your password?</a>
                                    <button class="btn pull-right" title="Login" tabindex="3">Login</button>
                                </div>
                            </form>
                        </div>
                        
                        @*second col*@
                        <div class="span6">
                            <div class="bordered-form">
                                <h3><i class="fa fa-sign-in"></i> &nbsp; New Customers</h3>
                                By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.
                            </div>
                            <div class="footer-submit">
                                <div class="pull-right">
                                    <a class="btn" href="@Url.Register()">Create an Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>