@model OrderHistoryView

@{
    ViewBag.Title = "My Orders";
    Layout = "~/Views/Shared/_MagentoAccountLayout.cshtml";
}


<div class="col-main span9">
    <div class="my-account">
        <div class="dashboard">
            <div class="page-title">
                <h1>My Orders</h1>
            </div>

            <div class="row-fluid">
                <div class="span12">

                    @if (Model.Orders.Length > 0)
                    {

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Order Total</th>
                                    <th>Invoice</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model.Orders)
                                {
                                    <tr>
                                        <td>@order.OrderId</td>
                                        <td>@order.TotalAmount.ToString("C")</td>
                                        <td><a href="#"><i class="fa fa-file-text fa-2x"></i></a></td>
                                        <td><button class="btn" data-show-orders>View <i class="fa fa-chevron-down"></i></button></td>
                                    </tr>
                                    <tr style="display: none;">
                                        <td colspan="4">
                                            <table class="table table-hover table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Product ID</th>
                                                        <th>Price</th>
                                                        <th>Quantity</th>
                                                    </tr>
                                                </thead>
                                                @foreach (var lineItem in order.OrderLineItems)
                                                {
                                                    <tr>
                                                        <td>@lineItem.ProductId</td>
                                                        <td>@lineItem.UnitPrice.ToString("C")</td>
                                                        <td>@lineItem.Quantity</td>
                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert">
                            There are no orders at the moment!
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
