@using CaptchaMvc.HtmlHelpers
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col2-right-layout">
    <div class="main">
        <div class="row-fluid">
            <div class="col-main span12">
                <div class="page-title">
                    <h1>Create New Account</h1>
                </div>
                <div style="padding-left: 15px;">

                    <div class="row-fluid">

                        <div class="span6">

                            <div class="bordered-form">
                                <h3>Create account using one of your social network accounts!</h3>
                            </div>

                        </div>

                        <div class="span6">

                            <div class="bordered-form">
                                <h3>Create login details with us</h3>

                                <form class="form-horizontal" action="@Url.Register()" method="POST">
                                    @Html.AntiForgeryToken()
                                    <div class="control-group">
                                        @Html.BootstrapLabelFor(m => m.Email)
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.Email)
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        @Html.BootstrapLabelFor(m => m.Password)
                                        <div class="controls">
                                            @Html.PasswordFor(m => m.Password)
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        @Html.BootstrapLabelFor(m => m.ConfirmPassword)
                                        <div class="controls">
                                            @Html.PasswordFor(m => m.ConfirmPassword)
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <div class="controls">
                                            @Html.Captcha("Try Another", "What is the text in the image above?", 5)
                                            @if (Model.IsCaptchaNotValid)
                                            {
                                                <span class="field-validation-error">The text you provided for the image does not match.</span>
                                            }
                                        </div>

                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>