@using CaptchaMvc.HtmlHelpers
@using Microsoft.Owin.Security
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col2-right-layout">
    <div class="main">
        <div class="row-fluid">
            <div class="col-main span12">
                <div class="page-title">
                    <h1>Create New Account</h1>
                </div>
                <div style="padding-left: 15px;">

                    <div class="row-fluid">

                        <div class="span6">

                            <div class="bordered-form">

                                @using (Html.BeginForm("ExternalLogin", "Account"))
                                {
                                    @Html.AntiForgeryToken()
                                    <h3><i class="fa fa-user"></i>&nbsp; Use one of your social logins</h3>
                                    <div class="row-fluid">
                                        <div class="span2 hidden-phone"></div>

                                        <div class="span4">
                                            <button type="submit" value="Facebook" id="Provider" name="Provider" class="btn btn-block btn-facebook">
                                                <i class="fa fa-facebook-square fa-2x"></i> Facebook &nbsp; 
                                            </button>
                                        </div>

                                        <div class="span4">
                                            <button type="submit" value="Google" id="Provider" name="Provider" class="btn btn-block">
                                                <i class="fa fa-google-plus-square fa-2x"></i> Google
                                            </button>
                                        </div>
                                        <div class="span2 hidden-phone"></div>
                                    </div>
                                }

                            </div>

                        </div>

                        <div class="span6">
                            <form class="form-horizontal" action="@Url.Register()" method="POST">

                                <div class="bordered-form">
                                    <h3>
                                        <i class="fa fa-sign-in"></i> &nbsp; Create login details with us.
                                    </h3>

                                    @Html.ValidationSummary()

                                    @Html.AntiForgeryToken()
                                    <div class="control-group">
                                        @Html.BootstrapLabelFor(m => m.Email)
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.Email)
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        @Html.BootstrapLabelFor(m => m.Password)
                                        <div class="controls">
                                            @Html.PasswordFor(m => m.Password)
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        @Html.BootstrapLabelFor(m => m.ConfirmPassword)
                                        <div class="controls">
                                            @Html.PasswordFor(m => m.ConfirmPassword)
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <div class="controls">
                                            @Html.Captcha("Try Another", "What is the text in the image above?", 5)
                                            @if (Model.IsCaptchaNotValid)
                                            {
                                                <span class="field-validation-error">The text you provided for the image does not match.</span>
                                            }
                                        </div>
                                    </div>

                                </div>
                                <div class="footer-submit">

                                    <label class="checkbox">
                                        <input type="checkbox" id="NewsletterSubscription" name="NewsletterSubscription" value="true" checked="true" style="margin-left:20px" />
                                        Subscribe to our Newsletter
                                    </label>

                                    <div class="pull-right">
                                        <button class="btn pull-right" type="submit">Register</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
