@model ContactUsView
@using CaptchaMvc.HtmlHelpers

@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col2-right-layout">
    <div class="main">
        <div class="row-fluid">
            <div class="col-main span12">
                <div class="page-title">
                    <h1>Contact Us</h1>
                </div>
                <div style="padding-left: 15px;">
                    
                    @if (Model.IsSubmitted)
                    {
                        <div class="alert alert-success">
                            Thank you for contacting us. We'll get back to you as soon as possible.
                        </div>
                    }
                    else
                    {  
                        <form class="form-horizontal" action="@Url.ContactUs()" method="POST">
                            @Html.AntiForgeryToken()
                            <div class="control-group">
                                @Html.LabelFor(m => m.FullName, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.FullName, new { @style = "height:30px" })
                                    @Html.ValidationMessageFor(m => m.FullName)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.Email, new { @style = "height:30px" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(m => m.ContactNumber, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextBoxFor(m => m.ContactNumber, new { @style = "height:30px" })
                                    @Html.ValidationMessageFor(m => m.ContactNumber)
                                </div>
                            </div>
                            <div class="control-group">
                                @Html.LabelFor(m => m.Comments, new { @class = "control-label" })
                                <div class="controls">
                                    @Html.TextAreaFor(m => m.Comments, new { rows = "10" })
                                    @Html.ValidationMessageFor(m => m.Comments)
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    @Html.Captcha("Try Another", "What is the text in the image above?", 5)
                                    @if (Model.IsCaptchaNotValid)
                                    {
                                        <span class="field-validation-error" data-valmsg-for="Email" data-valmsg-replace="true">
                                            The text you provided for the image does not match.
                                        </span>
                                    }
                                </div>
                               
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn">Submit</button>
                                </div>
                            </div>
                        </form>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
