@model Neemo.Web.Models.HomeView


@{
    ViewBag.Title = "Home - Featured Products and New Products";
    Layout = "~/Views/Shared/_Magento.cshtml";
}
<div class="ma-main-container col3-layout">
    <div class="main">
        <div class="row-fluid">
            <div class="col-left sidebar span3">
                <div class="block block-verticalmenu">
                    <div class="block-title"><strong><span>Categories </span></strong></div>
                    <div class="block-content">
                        @Html.Partial("~/Views/Shared/Partial/_CategoriesSearchLinks.cshtml", (CategoryListView) @ViewBag.Categories)
                    </div>
                </div>
                <div class="block block-tags">
                    <div class="block-title">
                        <strong><span>Popular Tags</span></strong>
                    </div>
                    <div class="block-content">
                        <ul class="tags-list">
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/4/" style="font-size:75%;">Audi</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/3/" style="font-size:75%;">BMW</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/7/" style="font-size:75%;">Chervolet</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/2/" style="font-size:75%;">Good</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/5/" style="font-size:145%;">Huyndai</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/8/" style="font-size:75%;">Shoes,</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/6/" style="font-size:75%;">Toyota</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/13/" style="font-size:75%;">collection,</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/14/" style="font-size:75%;">green,</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/15/" style="font-size:75%;">kid</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/16/" style="font-size:75%;">life,</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/17/" style="font-size:75%;">man,</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/18/" style="font-size:75%;">red,</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/19/" style="font-size:75%;">sandals,</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/1/" style="font-size:75%;">sexy</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/20/" style="font-size:75%;">size,</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/21/" style="font-size:75%;">skate</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/22/" style="font-size:75%;">white,</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/23/" style="font-size:75%;">women</a></li>
                            <li><a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/product/list/tagId/24/" style="font-size:75%;">women,</a></li>
                        </ul>
                        <div class="actions">
                            <a href="http://www.plazathemes.com/demo/ma_carstore_res/tag/list/">View All Tags</a>
                        </div>
                    </div>
                </div>
                <p><a href="#"><img src="http://www.plazathemes.com/demo/ma_carstore_res/media/wysiwyg/left.png" alt=""></a></p>
            </div>
            <div class="col-wrapper span9">

                <!-- start enable -->
                <div class="ma-banner7-container">
                    <div class="flexslider ma-nivoslider">
                        <div class="ma-loading" style="display: none;"></div>
                        <div id="ma-inivoslider" class="slides nivoSlider">
                            <img style="display: none;" src="@Url.Content("~/Content/Magento/Images/Media/slide-1.png")" title="#banner7-caption1" alt="">
                            <img style="display: none;" src="@Url.Content("~/Content/Magento/Images/Media/slide-2.png")" title="#banner7-caption2" alt="">
                            <img style="display: none;" src="@Url.Content("~/Content/Magento/Images/Media/slide-3.png")" title="#banner7-caption3" alt="">
                            <img style="display: none;" src="@Url.Content("~/Content/Magento/Images/Media/slide-4.png")" title="#banner7-caption4" alt="">
                            <div class="nivo-caption"></div><div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div>
                        </div>

                    </div>
                </div>
                <!-- end enable -->				<div class="row-fluid">
                    <div class="col-main span8">
                        <div class="std">
                            <div class="ma-featuredproductslider-container">
                                <div class="ma-featured-sldier-title">
                                    <h2>Featured Products</h2>
                                </div>
                                <div class="flexslider carousel">
                                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                        <ul class="products-grid first odd" style="width: 1800%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(0px, 0px, 0px);">
                                            @foreach (var featured in Model.FeaturedProducts)
                                            {
                                                @Html.DisplayFor(m => featured)
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="ma-featuredproductslider-container">
                                <div class="ma-featured-sldier-title">
                                    <h2>New Products</h2>
                                </div>
                                <div class="flexslider carousel">
                                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                        <ul class="products-grid first odd" style="width: 1800%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(0px, 0px, 0px);">
                                            @foreach (var newProduct in Model.NewProducts)
                                            {
                                                @Html.DisplayFor(m => newProduct)
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-right sidebar span4">

                        <div class="ma-bestseller-products block">
                            <!-- start mt products list -->
                            <div class="ma-bestseller-product-title block-title"><strong>Bestseller Products</strong></div>
                            <div class="bestseller-category block-content">
                                <ul class="bestseller-product  first">
                                    @foreach (var bestSeller in Model.BestSellingProducts)
                                    {
                                        <li class="item">
                                            <a href="@Url.Product(bestSeller.ProductId)"
                                               title="@bestSeller.Title" class="product-image">
                                                <img src="@Url.Image(bestSeller.ImageId)" width="52" height="52" alt="@bestSeller.Title">
                                            </a>
                                            <h2 class="product-name">
                                                <a href="@Url.Product(bestSeller.ProductId)" title="@bestSeller.Title">
                                                    @bestSeller.Title
                                                </a>
                                            </h2>
                                            <div class="price-box">
                                                <span class="regular-price" id="product-price-2">
                                                    <span class="price">@bestSeller.Price.ToString("C")</span>
                                                </span>
                                            </div>
                                        </li>
                                    }

                                </ul>
                                <!--  -->

                            </div>
                            <!-- end exist product -->
                        </div> <!-- end products list -->


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $jq(window).load(function () {
            $jq('#ma-inivoslider').nivoSlider({
                effect: 'random',
                slices: 15,
                boxCols: 8,
                boxRows: 4,
                animSpeed: 600,
                pauseTime: 500000,
                startSlide: 0,
                controlNav: false,
                controlNavThumbs: false,
                pauseOnHover: true,
                manualAdvance: false,
                prevText: 'Prev',
                nextText: 'Next',
                afterLoad: function () {
                    $jq('.ma-loading').css("display", "none");
                    //$jq('.banner7-title, .banner7-des, .banner7-readmore').css("left","100px") ;
                },
                beforeChange: function () {
                    $jq('.banner7-title, .banner7-des').css("left", "-550px");
                    $jq('.banner7-readmore').css("left", "-1500px");
                },
                afterChange: function () {
                    $jq('.banner7-title, .banner7-des, .banner7-readmore').css("left", "100px")
                }
            });
        });
    </script>

    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>

}
