@model HomeView


@{
    ViewBag.Title = "Home - Featured Products and New Products";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col3-layout">
    <div class="main">
        <div class="row-fluid">
            <div class="span3 bordered">
                <div class="ma-featured-product-title">
                    <div class="section-header">
                        <a href="@Url.Find()">
                            <h3>Spare Parts</h3>
                            <span><i class="fa fa-angle-right"></i> see all</span>
                        </a>
                    </div>
                    @foreach (var newProduct in Model.NewProducts)
                    {
                        @Html.DisplayFor(m => newProduct)
                    }
                </div>

            </div>
            <div class="span3 bordered">
                <div class="ma-featured-product-title">
                    <div class="section-header">
                        <a href="@Url.FindProviders("Wreckers")">
                            <h3>Wreckers</h3>
                            <span><i class="fa fa-angle-right"></i> see all</span>
                        </a>
                    </div>

                    @foreach (var newProduct in Model.NewWreckers)
                    {
                        @Html.DisplayFor(m => newProduct)
                    }
                </div>
            </div>
            <div class="span3 bordered">
                <div class="ma-featured-product-title">
                    <div class="section-header">
                        <a href="@Url.FindProviders("Repairers")">
                            <h3>Repairers</h3>
                            <span><i class="fa fa-angle-right"></i> see all</span>
                        </a>
                    </div>

                    @foreach (var newProduct in Model.NewRepairers)
                    {
                        @Html.DisplayFor(m => newProduct)
                    }
                </div>
            </div>
            <div class="span3 bordered">
                <div class="ma-featured-product-title">
                    <div class="section-header">
                        <a href="@Url.FindProviders("Others")">
                            <h3>Other</h3>
                            <span><i class="fa fa-angle-right"></i> see all</span>
                        </a>
                    </div>
                    @foreach (var newProduct in Model.NewOthers)
                    {
                        @Html.DisplayFor(m => newProduct)
                    }
                </div>
            </div>
        </div>

    </div>
</div>
