@model PersonalDetailsView

<div class="control-group">
    @Html.LabelFor(m => m.Firstname)
    <div class="controls">
        @Html.TextBoxFor(m => m.Firstname)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.Surname)
    <div class="controls">
        @Html.TextBoxFor(m => m.Surname)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.PhoneNumber)
    <div class="controls">
        @Html.TextBoxFor(m => m.PhoneNumber)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.Company)
    <div class="controls">
        @Html.TextBoxFor(m => m.Company)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.AddressLine1)
    <div class="controls">
        @Html.TextBoxFor(m => m.AddressLine1)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.City)
    <div class="controls">
        @Html.TextBoxFor(m => m.City)
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.State)
    <div class="controls">
        @Html.DropDownListFor(m => m.State, new List<SelectListItem>
        {
            new SelectListItem(){Text = "VIC", Value = "VIC"},
            new SelectListItem(){Text = "NSW", Value = "NSW"},
            new SelectListItem(){Text = "QLD", Value = "QLD"},
            new SelectListItem(){Text = "WA", Value = "WA"},
            new SelectListItem(){Text = "SA", Value = "SA"},
            new SelectListItem(){Text = "ACT", Value = "ACT"},
            new SelectListItem(){Text = "TAS", Value = "TAS"},
        }, optionLabel:" -- Select  --")
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.Postcode)
    <div class="controls">
        @Html.TextBoxFor(m => m.Postcode, htmlAttributes: new { data_numbers_only = true, maxlength = 4 })
    </div>
</div>