@model List<ProductSummaryView>

<ol class="products-list" id="products-list">
    @foreach (var product in Model)
    {
        <li class="item">
            <a href="@Url.Product(product.ProductId, Slug.Create(product.Title))"
               class="product-image" title="@product.Title">
                <img src="@Url.Image(product.ImageId)"
                     width="135"
                     height="135"
                     alt="@product.Title"
                     class="thumbnail" />
            </a>
            <div class="product-shop">
                <div class="f-fix">
                    <h2 class="product-name">
                        <a href="@Url.Product(product.ProductId, Slug.Create(product.Title))" title="@product.Title">@product.Title</a>
                    </h2>

                    <div class="price-box">
                        <span class="regular-price" id="product-price-2">
                            <span class="price">@product.Price.ToString("C")</span>
                        </span>
                    </div>

                    <p>
                        @if (product.OutOfStock)
                        {
                            <div>
                                <span class="label label-warning">Sold out</span>
                            </div>
                        }
                        else
                        {
                            <button type="button" title="Add to Cart" class="btn btn-cart" data-productid="@product.ProductId">
                                <i class="icon-plus icon-white"></i> Add To Cart
                            </button>
                        }
                    </p>


                    <div class="desc std">
                        @product.Description
                        <a href="@Url.Product(product.ProductId, Slug.Create(product.Title))" title="@product.Title" class="link-learn">
                            Learn More
                        </a>
                    </div>

                </div>
            </div>
        </li>
    }
</ol>

