@using Neemo
@model ProviderSummaryView


<div class="featured-tile">
    <div class="thumbnail text-center" style="min-height: 220px">

        <a href="@Url.Provider(Model.ProviderId, Slug.Create(Model.ProviderName))"
           title="@Model.ProviderName"
           class="product-image">

            <img src="@Url.Image(Model.Image)" style="width: 129px; height: 97px;">
        </a>
        <div class="caption">
            <p>
                <a href="@Url.Provider(Model.ProviderId)" class="btn">
                    <i class="fa fa-wrench"></i> More Details ...
                </a>
            </p>
            <h3 class="top-buffer-10">
                <a title="@Model.ProviderName" href="@Url.Product(Model.ProviderId, Slug.Create(Model.ProviderName))">
                    @Model.ProviderName.TruncateOnWordBoundary(20)
                </a>
            </h3>
            @*<p>@Model.Description.TruncateOnWordBoundary(100)</p>*@
            
            <div class="bottom-separator location">
                <i class="fa fa-map-marker"></i>
                <span title="@Model.Address">@Model.Address.Truncate(20, "...")</span>
            </div>
        </div>
    </div>
</div>