@model FindModelView


@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Magento.cshtml";
}

<div class="ma-main-container col3-layout">
    <div class="main">

        <div class="row-fluid">

            @*Product Filters*@
            <div class="col-left sidebar span3">
                <div class="block block-layered-nav">
                    <div class="block-title">
                        <strong><span>Product Filters</span></strong>
                    </div>
                    <div style="padding:10px">

                        <div class="control-group">
                            @Html.BootstrapLabelFor(m => m.Keyword)
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Keyword)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.BootstrapLabelFor(m => m.SortBy)
                            <div class="controls">
                                @Html.DropDownListFor(m => m.SortBy, Model.SortByItems)
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.BootstrapLabelFor(m => m.PriceMin)
                            <div class="controls">
                                @Html.TextBoxFor(m => m.PriceMin, new { data_numbers_only = "" })
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.BootstrapLabelFor(m => m.PriceMax)
                            <div class="controls">
                                @Html.TextBoxFor(m => m.PriceMax, new { data_numbers_only = "" })
                            </div>
                        </div>
                        <div class="control-group">
                            <button class="btn">Apply</button>
                        </div>
                    </div>
                </div>
            </div>

            @*Search Results*@

            @if (Model.HasResults)
            {
                <div class="col-wrapper span9">
                    <div class="row-fluid">
                        <div class="col-main span12">
                            @Html.Partial("~/Views/Shared/Partial/_SearchPagingToolbar.cshtml")
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-main span12">

                            <ol class="products-list" id="products-list">
                                @foreach (var product in Model.ProductResults)
                                {
                                    <li class="item">
                                        <a href="@Url.Product(product.ProductId)"
                                           class="product-image" title="@product.Title">
                                            <img src="@Url.Image(product.ImageId)"
                                                 width="135"
                                                 height="135"
                                                 alt="@product.Title"
                                                 class="thumbnail" />
                                        </a>
                                        <div class="product-shop">
                                            <div class="f-fix">
                                                <h2 class="product-name">
                                                    <a href="@Url.Product(product.ProductId)" title="@product.Title">@product.Title</a>
                                                </h2>

                                                <div class="price-box">
                                                    <span class="regular-price" id="product-price-2">
                                                        <span class="price">@product.Price.ToString("C")</span>
                                                    </span>
                                                </div>

                                                <p>
                                                    @if (product.OutOfStock)
                                                    {
                                                        <div><strong>Out of stock.</strong></div>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" title="Add to Cart" class="btn btn-cart" data-productid="@product.ProductId">
                                                            <i class="icon-plus icon-white"></i> Add To Cart
                                                        </button>
                                                    }
                                                </p>


                                                <div class="desc std">
                                                    @product.Description
                                                    <a href="@Url.Product(product.ProductId)" title="@product.Title" class="link-learn">
                                                        Learn More
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                }
                            </ol>

                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-main span12">
                            @Html.Partial("~/Views/Shared/Partial/_SearchPagingToolbar.cshtml")
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-wrapper span9">
                    <div class="alert">
                        Sorry. It looks like we don't have any products that match your search.
                    </div>
                </div>
            }
        </div>
    </div>
</div>
