@using Neemo.Web.Infrastructure
@model ProductDetailView

@{
    Layout = "~/Views/Shared/_Magento.cshtml";
    ViewBag.Title = Model.Title;
}

<div class="ma-main-container col2-right-layout">
    <div class="main">
        <div class="breadcrumbs">
            <ul>
                <li class="home">
                    @Html.ActionLink("Home", "Index", "Home")
                    <span>/ </span>
                </li>
                <li class="category3">
                    @*Todo - Wire up the category search link*@
                    <a href="http://www.plazathemes.com/demo/ma_carstore_res/mercedes.html" title="">
                        @Model.Category
                    </a>
                    <span>/ </span>
                </li>
                <li class="product">
                    <strong>@Model.Title</strong>
                </li>
            </ul>
        </div>
        <div class="row-fluid">
            <div class="col-main span12">
                <div id="messages_product_view"></div>
                <div class="product-view">
                    <div class="product-name">
                        <h1>@Model.Title</h1>
                    </div>
                    <div class="product-essential">
                        <div class="row-fluid">
                            <div class="product-img-box span4">
                                <p class="product-image" style="padding:5px;">
                                    <!-- images for lightbox -->
                                    @*Todo - Implement lightbox and cloudzoom*@
                                    @*<a href="@Url.Image(Model.Images.First())" class="ma-a-lighbox" rel="lightbox[rotation]"></a>*@
                                    <!--++++++++++++-->
                                    <a class="cloud-zoom" id="ma-zoom1" style="position: relative; display: block;" rel="adjustX:10, adjustY:-2, zoomWidth:300, zoomHeight:300">
                                        <img id="mainImage" src="@Url.Image(Model.Images.First())" alt="@Model.Title" title="@Model.Title" />
                                    </a>
                                </p>
                                <div class="more-views ma-more-img">
                                    <h2>More Views</h2>
                                    <ul>
                                        @foreach (var img in Model.Images)
                                        {
                                            <li>
                                                <a class="cloud-zoom-gallery">
                                                    <img src="@Url.Image(img)" width="56" height="56" alt="" title="" />
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="product-shop span8">
                                @*<p class="email-friend"><a href="http://www.plazathemes.com/demo/ma_carstore_res/sendfriend/product/send/id/2/cat_id/3/">Email to a Friend</a></p>*@
                                <p class="availability in-stock">
                                    Availability:
                                    <span>
                                        @if (Model.AvailableQty == 0)
                                        {
                                            <text>Out of stock</text>
                                        }
                                        else
                                        {
                                            <text>In Stock</text>
                                        }
                                    </span>
                                </p>

                                <div class="short-description">
                                    <h2>Quick Overview</h2>
                                    <div class="std">
                                        @Model.QuickOverview
                                    </div>
                                </div>


                                <div class="price-box">
                                        <span class="regular-price" id="product-price-2_clone">
                                            <span class="price">@Model.Price.ToString("C")</span>
                                        </span>
                                    </div>

                                    
                                    <div class="add-to-box">
                                        <div class="add-to-cart">
                                            <label for="qty">Qty:</label>
                                            <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Qty" data-numbers-only class="input-text qty">
                                            <button type="button"
                                                    title="Add to Cart"
                                                    class="button btn-cart"
                                                    data-productid="@Model.ProductId"
                                                    data-carturl="@Url.Action("AddOrUpdate", "Cart")">
                                                <span>
                                                    <span>
                                                        Add to Cart
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>


                            </div>
                        </div>

                        <div class="clearer"></div>
                    </div>

                    <div class="product-collateral">
                        <ul class="product-tabs">
                            <li id="product_tabs_description" style="padding: 10px; color: #fff">Product Description</li>
                        </ul>

                        @*Description*@
                        <div class="product-tabs-content" id="product_tabs_description_contents">
                            <h2>Details</h2>
                            <div class="std">
                                @Html.Raw(Model.Description)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">decorateGeneric($$('#product-options-wrapper dl'), ['last']);</script>

    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd', 'even', 'first', 'last'])</script>

    <script>
        (function (jQuery) {
            var jq = jQuery;
            jQuery('.more-views a').css({ 'cursor': 'pointer' });
            jq('.more-views a').on('click', function () {
                var newSrc = jq(this).children('img').attr('src');
                jq('#mainImage').attr('src', newSrc);
            });
        })(jQuery);
    </script>
}